.app {
  text-align: center;
}

.bingo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.tabla {
  border: 1px solid black; /* Agregamos un borde negro */
  margin-bottom: 20px; /* Aumentamos el espacio entre las tablas */
}

.bingo-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  max-width: 500px;
  margin: 0 auto;
}

.bingo-cell {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.highlighted {
  background-color: #ffeecc;
}

form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-right: 10px;
}

button[type="submit"],
button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #cccccc;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover,
button:hover {
  background-color: #999999;
}

.entered-numbers {
  text-align: center;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  font-size: 16px;
  margin-bottom: 5px;
}

button {
  margin-top: 10px;
}
